<section>
    <div class="form-box">
        <div class="form-value">
            <form [formGroup]="form" (submit)="submit()">
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" formControlName="email" required>
                    <label id="email" for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" formControlName="password" required>
                    <label id="contrasenia" for="">Password</label>
                </div>
                <button>Log in</button>
                <div class="register">
                    <p>Don't have an account <a href="path_register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
