section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.analisis-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

h1 {
    color: #c7c8c9;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 30px;
}

.btn-analizar {
    margin-top: 10px;
    padding: 10px  30px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(50, 202, 174, 1);
    border-radius: 5px;
    color: #271938;
    transition: bottom 0.3s ease 0s;
    bottom: 0;
}
.btn-analizar:hover {
    position: relative;
    bottom: 2px;
}

.txt-resalto {
    color: rgba(50, 202, 174, 1);
}
.txt-analysis {
    margin-top: 40px;
    width: 60%;
    background-color: rgba(209, 178, 4, .7);
    box-shadow: 0px 2px 5px #c7c8c9;
    border-radius: 20px;
}
.txt-analysis p {
    width: 90%;
    font-size: 18px;
    margin: 20px auto 0;
    color: #c7c8c9;
    text-align: center;
    margin-bottom: 20px;
}
.txt-analysis > p.txt-clasf {
    font-size: xx-large;
    
}
.txt-analysis > p.txt-clasf span {
    color: #271938;
    font-weight: bold;
}

@media (max-width: 993px) {
    .analisis-container {
        width: 90%;
    }
    .txt-analysis {
        width: 80%;
    }
    section {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    h1 {
        margin-bottom: 15px;
    }
}

